* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar {
    background-color: rgb(39, 41, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}


#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#navbar ul li {
    margin-right: 20px;
}


#navbar ul li a {
    color: #d3b1c2;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    transition: color 0.3s ease;
}

#navbar ul li a:hover {
    color: #C197d2;
}

section {
    height: 100vh;
    background-color: rgb(39, 41, 68);
    font-family: sans-serif;
}

.point {
    color: rgb(224, 224, 224);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.point h2 {
    font-size: 30px;
}
.point p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro {
    color: rgb(224, 224, 224);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro h1 {
    font-size: 50px;
}
.intro button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(224, 224, 224);
    font-size: 20px;
    background: rgb(45, 117, 96);
    border-radius: 3px;
    cursor: pointer;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}
.winner {
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 50px;
}

.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user1{
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}


#activeChatRooms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Add this line to align items to the top */
    align-items: center; /* Update this line to align items to the left */
    padding: 20px;
    background-color: #33309b;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 390px;
    position: absolute;
    top: 35px;
    left: 50px;
    height: 150px;
    overflow-y: auto;
}